body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}

/* estilos de login agenda */
.bg-image-vertical {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%;
}

@media (min-width: 1025px) {
	.h-custom-2 {
		height: 100%;
	}
}
.logo_main{
	width: 120px;
}

.backG{
	background-color: #cfc9ca;
}


.external-events {
	border-radius: 5px;
	margin-bottom:1em;
	height:80%;
	border: 1px solid #bbb;
	overflow: auto;
	padding:1em;
}
.dt-body-title{
	font-weight: bold;
}

.backPrincipal{
	background: #222e3c;
}

.barColor{
	background: #19222c;
}

.barColor2{
	background: #222e3c;
}

.backCalendar{
	background: #f5f7fb;
}

.titleAgenda{
	color: #f8f9fa;
	font-size: 24px !important;
}

.titlePerson{
	color: #f8f9fa;
	font-size: 22px !important;
}

.clearColor{
	color: #f8f9fa;
}

.ft-14{
	font-size: 14px !important;
}

.ft-12{
	font-size: 12px !important;
}

.ft-10{
	font-size: 10px !important;
}

.inputs{
	border-bottom: 1px solid #efeaea !important;
	border-radius: 0px !important;
}

.decored{
	text-decoration: none;
}

.btn-secondary{
	background-color: #19222c !important;
	border-color: #19222c !important;
	color: #f8f9fa !important;
}

.custom-button {
	background-color: #1C202A; /* Color oscuro */
	color: #fff; /* Color del texto */
	transition: background-color 0.3s ease;
}

.custom-button:hover {
	background-color: #343536; /* Color ligeramente más claro al pasar el ratón */
}